[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "garak"
version = "0.9.0.8.post1"
authors = [
  { name= "Leon Derczynski", email="leonderczynski@gmail.com" },
  { name= "Subho Majumdar" },
  { name= "nv052193" },
  { name= "Mads Kongsbak" },
  { name= "Erick Galinkin" },
  { name= "Tianhao Li" },
  { name= "Phyllis Poh" },
]
license = { file = "LICENSE" }
description = "LLM vulnerability scanner"
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: Apache Software License",
]
requires-python = ">=3.9"
dependencies = [
  "base2048>=0.1.3",
  "transformers>=4.19",
  "datasets>=2",
  "colorama>=0.4.3",
  "tqdm>=4.64.0",
  "cohere>=4.5.1",
  "openai>=0.27.7,<1.0.0",
  "replicate>=0.8.3",
  "pytest>=7.3",
  "google-api-python-client>=2.0",
  "backoff>=2.1.1",
  "torch",
  "rapidfuzz",
  "jinja2",
  "fschat>=0.2.30",
  "nltk>=3.8.1",
  "accelerate>=0.23.0",
  "avidtools==0.1.1.2",
  "stdlibs",
  "langchain>=0.0.300",
  "nemollm>=0.3.0",
  "octoai-sdk",
  "cmd2",
  "torch>=2.1.0",
  "sentencepiece>=0.1.99",
  "pydantic>=2.0"
]

[project.urls]
"Homepage" = "https://github.com/leondz/garak"
"Bug Tracker" = "https://github.com/leondz/garak/issues"

[project.scripts]
realpython = "garak.__main__:main"

[tool.setuptools]
packages = ["garak"]

[tool.setuptools.package-data]
"garak.resources" = ["*"]
