base2048>=0.1.3
transformers>=4.19
datasets>=2
colorama>=0.4.3
tqdm>=4.64.0
cohere>=4.5.1
openai>=0.27.7
replicate>=0.8.3
pytest>=7.3
google-api-python-client>=2.0
backoff>=2.1.1
torch
rapidfuzz
jinja2
avidtools==0.1.1.2
stdlibs