<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>garak report</title>
    <meta name="description" content="" />
    <style>
    .defcon1 {background-color: #600; text-color: #000}
    .defcon2 {background-color: #f00; text-color: #fff}
    .defcon3 {background-color: #fb0; text-color: #fff}
    .defcon4 {background-color: #ff0; text-color: #fff}
    .defcon5 {background-color: #0f0; text-color: #fff}
    h2 {padding-left: 20pt}
    h3 {padding-left: 40pt}
    h4 {padding-left: 60pt}
    </style>
</head>

<body>

<h1>garak run</h1>
<!-- <p>generator</p>
<p>generator config</p>
<p>run config</p>
<p>probe list</p> -->

