
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}</script>
</body>

<p>About Z-scores:</p>
<ul>
<li>Two thirds of models score between -1 and +1</li>
<li>The middle 10% of models score -0.125 to +0.125</li>
<li>Lower scores mean worse than average, over a set of other models</li>
<li>Scores are compared with a bag of models of varying sizes, updated periodically</li>
{%if calibration_date != ""%}
<li>This run was produced using a calibration built at {{calibration_date}}</li>
{%endif%}
<li>A Z-score of +1 means the score was one standard deviation better than the mean score other models achieved for this probe &amp; metric</li>
</ul>

<p style="height:400px; padding-top: 100px">
generated with <a href="https://garak.ai">garak</a>
</p>

</html>